.container-index {
  padding: 20px;
  margin: 20px;
  min-height: 25rem,auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item {
  width: 200px;
  height: 200px;
}
.container-index .item h1 {
  font-size: 20px;
  color: steelblue;
}
.container-index .item h2 {
  font-size: 25px;
  color: steelblue;
}
.container-index .item p {
  font-size: 10px;
  color: steelblue;
}
.item img {
  width: 250px;
}
.container-index .btn {
  background-color: steelblue;
  padding: 0.5rem;
  border-radius: 2px;
}
@media (min-width: 625px) {
  .container-index {
    min-height: 25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .item {
    width: 400px;
    height: 300px;
  }
  .container-index .item h1 {
    font-size: 50px;
    color: steelblue;
  }
  .container-index .item h2 {
    font-size: 50px;
    color: steelblue;
  }
  .container-index .item p {
    font-size: 20px;
    color: steelblue;
  }
  .item img {
    width: 350px;
  }
}
.container-index {
  padding: 20px;
  margin: 20px;
  min-height: 25rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item {
  width: 200px;
  height: 200px;
}
.container-index .item h1 {
  font-size: 20px;
  color: steelblue;
}
.container-index .item h2 {
  font-size: 25px;
  color: steelblue;
}
.container-index .item p {
  font-size: 10px;
  color: steelblue;
}
.item img {
  width: 250px;
}
.container-index .btn {
  background-color: steelblue;
  padding: 0.5rem;
  border-radius: 2px;
}

.btn-primary{
  box-shadow: 3px 3px 3px;
}

@media (min-width: 625px) {
  .container-index {
    min-height: 27.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .item {
    width: 400px;
    height: 300px;
  }
  .container-index .item h1 {
    font-size: 50px;
    color: steelblue;
  }
  .container-index .item h2 {
    font-size: 50px;
    color: steelblue;
  }
  .container-index .item p {
    font-size: 20px;
    color: steelblue;
  }
  .item img {
    width: 350px;
  }
}
